---
import Background from "../components/Background.astro";
import Layout from "../layouts/Layout.astro";
import Interests from "../components/Interests.astro";
import Jokes from "../components/Jokes.astro";
---

<Layout title="Welcome to Astro.">
  <main class="max-w-6xl px-4 xl:px-0 min-h-screen mx-auto mt-16">
    <section
      class="relative min-h-screen lg:h-screen bg-transparent overflow-hidden flex flex-col-reverse md:flex-row justify-center items-center gap-4"
    >
      <Background />
      <div
        class="flex flex-col justify-start items-center md:justify-center h-full w-full z-50 gap-4 lg:gap-6"
      >
        <h1
          class="text-3xl leading-[3rem] md:text-4xl text-wrap text-center font-bold bg-gradient-to-r from-[#00c2ba] to-[#8ad504] text-transparent bg-clip-text"
        >
          Hola, soy Dot Dagger y me gusta el pepino
        </h1>
        <p
          class="text-xl text-wrap text-left font-semibold text-slate-800 backdrop-blur-lg bg-white/50 p-4"
        >
          Amante del c칩digo limpio (y tu hermana), las guitarras y, por
          supuesto, los pepinos (s칤, le칤ste bien). Aqu칤 se fusionan la l칩gica
          del desarrollo con las preguntas filos칩ficas que nadie pidi칩, mientras
          se encuentra inspiraci칩n entre cuerdas de guitarra y l칤neas de c칩digo.
          쯈u칠 tienen en com칰n un pepino, un bucle for y un riff de guitarra?
          Probablemente nada... pero aqu칤 todo tiene sentido. 游꺔游꿪
        </p>
        <a
          href="#intereses"
          class="py-3 px-6 text-xl text-slate-50 bg-gradient-to-r from-[#00c2ba] to-[#8ad504] font-semibold rounded duration-300 ease-in-out hover:scale-125 my-3 lg:my-0"
          >Intereses</a
        >
      </div>
      <div class="flex-1 flex justify-center items-center">
        <img
          src="/dotdagger.webp"
          alt="dot dagger image portfolio"
          class="rounded-full object-cover flex-1 h-auto w-[300px] lg:w-auto md:max-w-[450px] relative z-50"
        />
      </div>
    </section>
    <Interests />
    <Jokes />
  </main>
</Layout>
