---
import SocialMedia from "./SocialMedia.astro";
---

<section
  id="contacto"
  class="relative h-screen bg-transparent overflow-hidden flex flex-col justify-center py-16"
>
  <h2
    class="pb-8 text-2xl leading-[2.5rem] md:text-4xl text-wrap text-center font-bold bg-gradient-to-r from-[#00c2ba] to-[#8ad504] text-transparent bg-clip-text"
  >
    Si llegaste hasta aquí, es que has llegado a la mejor parte de mi portfolio.
    Asi que no seas pelo@#$$ y vamos a entrar en contacto 🥒
  </h2>
  <SocialMedia />
</section>
