<header class="relative">
  <nav
    class="fixed top-0 h-16 w-full backdrop-blur-sm bg-white/50 shadow-sm"
    aria-label="Main Navigation"
  >
    <div
      class="max-w-6xl mx-auto px-4 flex justify-between items-center h-full"
    >
      <a href="#logo" class="py-2">
        <span class="font-bold text-2xl text-green-900">Dot</span><span
          class="text-xl font-bold text-cyan-500">Dagger</span
        >
      </a>

      <ul class="hidden lg:flex gap-6">
        <li>
          <a href="#intereses" class="font-bold text-cyan-500 text-lg"
            >Intereses</a
          >
        </li>
        <li>
          <a href="#contacto" class="font-bold text-cyan-500 text-lg"
            >Contacto</a
          >
        </li>
      </ul>

      <button
        class="lg:hidden block text-cyan-900"
        aria-label="Toggle Menu"
        aria-expanded="false"
        aria-controls="nav-menu"
        id="menu-button"
      >
        <!-- Open icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 24 24"
          style="fill: currentColor;"
          class="menu-icon-open"
        >
          <path d="M4 11h12v2H4zm0-5h16v2H4zm0 12h7.235v-2H4z"></path>
        </svg>

        <!-- Close icon -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="42"
          height="42"
          viewBox="0 0 24 24"
          style="fill: currentColor;"
          class="menu-icon-close hidden"
        >
          <path
            d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
          ></path>
        </svg>
      </button>
    </div>
  </nav>

  <!-- Mobile Menu -->
  <div
    id="mobile-menu"
    class="fixed top-16 inset-0 bg-white/50 backdrop-blur-md transform-translate-x-full transition-transform duration-300 z-50 lg:hidden"
    aria-hidden="true"
  >
    <div class="p-4 bg-white h-[90%] w-[90%] mx-auto shadow-sm">
      <ul class="flex flex-col items-center text-center w-full h-full">
        <li class="w-full border-t border-r border-l border-cyan-500">
          <a
            href="#intereses"
            class="font-bold text-cyan-500 text-lg hover:bg-cyan-500 hover:text-slate-50 w-full h-full block py-4"
            >Intereses</a
          >
        </li>
        <li class="w-full border border-cyan-500">
          <a
            href="#contacto"
            class="font-bold text-cyan-500 text-lg hover:bg-cyan-500 hover:text-slate-50 w-full h-full block py-4"
            >Contacto</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>

<style>
  header {
    z-index: 99;
  }
</style>

<script>
  // @ts-nocheck
  const menuButton = document.getElementById("menu-button");
  const mobileMenu = document.getElementById("mobile-menu");
  const menuIconOpen = menuButton.querySelector(".menu-icon-open");
  const menuIconClose = menuButton.querySelector(".menu-icon-close");

  document.addEventListener("DOMContentLoaded", () => {
    mobileMenu.classList.add("-translate-x-full");
    mobileMenu.setAttribute("aria-hidden", "true");
    menuButton.setAttribute("aria-expanded", "false");
    menuIconOpen.classList.remove("hidden");
    menuIconClose.classList.add("hidden");
  });

  menuButton.addEventListener("click", () => {
    const isExpanded = menuButton.getAttribute("aria-expanded") === "true";

    mobileMenu.classList.toggle("-translate-x-full");

    mobileMenu.setAttribute("aria-hidden", isExpanded ? "true" : "false");
    menuButton.setAttribute("aria-expanded", !isExpanded);

    menuIconOpen.classList.toggle("hidden", !isExpanded); // Mostrar ícono de abrir cuando se cierra
    menuIconClose.classList.toggle("hidden", isExpanded); // Mostrar ícono de cerrar cuando se abre
  });
</script>
